.contentTtitle{
    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:40px;
    line-height: 40px;
    padding-left:20px;
    font-size: large;
    font-family: Microsoft YaHei;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}
